@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,600;1,900&display=swap');

@font-face {
    font-family: heavy;
    src: url(../Exocet_Heavy.woff);
    src: local(※), url(../Exocet_Heavy.woff) format(‘woff’);
}

@font-face {
    font-family: dlight;
    src: url(../Diablo-Light.woff);
    src: local(※), url(../Diablo-Light.woff) format(‘woff’);
}



/* Reset CSS  */
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: top;
    -webkit-text-size-adjust: none;
}

html {
    font-size: 16px;
}

body {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    color: #c1aa6b;
    background: #070707;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

ul,
ol,
dl {
    list-style: none;
}

img,
video {
    border: 0;
    vertical-align: top;
}

a,
a:link {
    color: #c1aa6b;
    text-decoration: none;
}

a:visited {
    color: #c1aa6b;
}

a:hover,
a:active {
    color: #c1aa6b;
    text-decoration: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

input,
select {
    vertical-align: middle;
}

label {
    cursor: pointer;
}

.blind,
legend,
hr,
caption {
    display: block;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: -1000em;
}

i,
em,
address {
    font-style: normal;
    font-weight: normal;
}

p,
li,
dd {
    line-height: 1.5em
}

.hidden,
#skipNav {
    display: block;
    position: absolute;
    left: -1000%;
    top: 0;
    width: 1px;
    height: 1px;
    overflow: hidden;
    color: #fff;
}

/* 헤더 공통 영역 */
#wrap {
    width: 100%;
    overflow: hidden
}

#headerArea {
    position: fixed;
    z-index: 30;
    height: 100px;
    background: rgba(0, 0, 0, .5);
    left: 0;
    top: 0;
    width: 100%
}

#headerArea .headerInner {
    width: 90%;
    margin: 0 5%;
    overflow: hidden
}

#headerArea h1 {
    float: left;
}

#headerArea h1 a {
    background: url(../images/logo/head_logo.png) 0 0 no-repeat;
    background-size: cover;
    width: 100px;
    height: 100px;
    display: block;
    text-indent: -9999px;
    overflow: hidden;
    color: #fff;
    margin-left: 10px;
    color: #fff;
    text-decoration: none;
    transition: all .3s;
}

#headerArea h1 a:hover {
    background: url(../images/logo/CH_head_logo.png)0 0 no-repeat;
}

#headerArea #gnb {
    float: right;
}

#headerArea #gnb ul {
    overflow: hidden
}

#headerArea #gnb ul li {
    float: left;
    margin-right: 15px;
}

#headerArea #gnb ul li a {
    color: #cec8c8;
    font-size: 1.5em;
    text-decoration: none;
    font-weight: 900;
    font-style: italic;
    display: block;
    line-height: 100px;
    font-family: dlight;
}



/* 와이드 pc 1280px이상 */
.intro {
    overflow: hidden;
    padding: 2% 4.5%;
    padding-top: 100px;
}

.intro h3 {
    display: inline-block;
    font-family: 'heavy';
    font-size: 4.29em;
    margin-left: 10px;
}

.more {
    font-family: dlight;
    font-size: 40px;
    color: #c1aa6b;
    float: right;
    border: 1px solid;
    padding: 0 2%;
    transition: all 0.3s;
}

.more:hover {
    color: #738d97;
    transform: scale(1.08);
}

.aboutText1 li {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

#contents ul li {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

/* 푸터 공통 영역 */
#footerArea {
    background-image: url(../images/footer/footerBG.png);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 304px;
    padding: 2% 0;
}

#footerArea .footerLogo {
    background: url(../images/footer/blizard.png) 0 0 no-repeat;
    height: 158px;
    width: 300px;
    margin: 0 auto;
}

#footerArea p {
    text-align: center;
    font-family: dlight;
    padding-top: 2%;

}

/* 일반 pc */
@media screen and (max-width:1280px) {}

/* 테블릿 */
@media screen and (max-width:1024px) {}

/* 소형 테블릿 */
@media screen and (max-width:768px) {}

/* 모바일 */
@media screen and (max-width:640px) {}

/* 최소 사이즈 처리 */
@media screen and (max-width:480px) {
    #wrap {
        min-width: 320px;
    }
}